#!/sbin/openrc-run
depend() {
    need net
    use qui-va-sortir-nala
}
command="/opt/pocketbase/pocketbase"
command_args="serve --http 192.168.0.113:8090"
directory="/opt/pocketbase"
pidfile="/run/${RC_SVCNAME}.pid"
command_user="sft"
name="pocketbase"
command_background=true
description="pocketbase"
