PUBLIC_REDIRECT_URI=http://192.168.0.113:5173/api/oauth2-redirect

POCKETBASE_URI=http://192.168.0.10:8090
PUBLIC_POCKETBASE_URI=http://192.168.0.10:8090

REDIRECT_PATHNAME=/api/oauth2-redirect

PB_PWD=

PB_ADMIN=


PUBLIC_WS_URI=""