#!/sbin/openrc-run
depend() {
    need net
}
command="node"
command_args="./src/server.js"
directory="/opt/qui-va-sortir-nala"
pidfile="/run/${RC_SVCNAME}.pid"
command_user="sft"
name="qui-va-sortir-nala"
command_background=true
description="qui-va-sortir-nala"
export ORIGIN=https://nala.proxy.pve
export NODE_ENV=production
